<script>require(['apps/test']);</script>

<h1>Test</h1>

<div id ="sample1">
  <h2>1つ目</h2>
  <div id="list">
  </div>
  <h2>2つ目</h2>
  <div id="list2">
  </div>
  <form>
  <div class="field">
    <label for="sample_name">Name</label><br>
    <input id="sample_name" name="sample[name]" type="text" />
    <input name="commit" type="submit" value="Create Sample" />
  </div>
  </form>

</div>


